<section class="sectTabla">
    <div class="divTitulo">
        <label class="titulo">Resultados</label>
        <div class="divMost">
            <span>Mostrar</span>
            <select class="nMost">
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
    <table>
        <thead>
            <th>Codigo</th>
            <th>Grupo</th>
            <th>Grado</th>
            <th>Profesor</th>
        </thead>
        <tbody>
            <tr class="tr-imp">
                <td>2022B10</td>
                <td>B</td>
                <td>10</td>
                <td>Natalia Andrea Mejía Londoño</td>
            </tr>
            <tr>
                <td>2022A11</td>
                <td>A</td>
                <td>11</td>
                <td>María Fernanda López Torres</td>
            </tr>
            <tr class="tr-imp">
                <td>2022B10</td>
                <td>B</td>
                <td>10</td>
                <td>Juan Sebastián Ramírez Gómez</td>
            </tr>
            <tr>
                <td>2022A12</td>
                <td>A</td>
                <td>12</td>
                <td>Laura Vanessa Ortiz Pérez</td>
            </tr>
            <tr class="tr-imp">
                <td>2022B10</td>
                <td>B</td>
                <td>10</td>
                <td>Andrés Felipe Castaño Rivas</td>
            </tr>
        </tbody>

    </table>
    <div class="bTabla">
        <label>Mostrado 1 al 5 de 20 registros</label>
        <div class="selectPartTabla">
            <button>Primero</button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>Ultimo</button>
        </div>
    </div>
</section>